p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.table-header-panel .title-1 {
    font-size: 16px;
    line-height: 1;
    color: #999;
}

.table-header-panel .title-2 {
    font-size: 48px;
    color: #333;
}

.view-all-table {
    border-radius: 4px;
    background: #007ba7;
    color: #ffffff;
    padding: 10px 30px;
    margin-right: 10px;
    border: 1px solid transparent;
    cursor: pointer;
    text-decoration: none;
    border: 1px solid transparent;
}

.view-all-table:hover {
    background: #ffffff;
    color: #007ba7;
    border: 1px solid #007ba7;
    text-decoration: none;
}

.table-header-panel .first {
    flex: 0 0 auto;
    width: 75%;
}

.table-header-panel .second {
    flex: 0 0 auto;
    width: 25%;
    margin-top: 26px;
}

.table-header-panel {
    border: 1px solid #dee2e6;
    padding: 24px;
    border-bottom: 0;
}

.table.border {
    border: 1px solid #dee2e6;
}

.color-primary {
    color: #3c7ba7;
}

.dashboard-card {
    padding: 30px 0;
    border-radius: 8px;
}

.dashboard-card .card-title {
    font-weight: 500;
    margin-bottom: 0;
    font-size: 36px;
    color: #fff;
}

.dashboard-card.bg-one {
    background-color: #3c7ba7;
}

.dashboard-card.bg-two {
    background-color: #5fc2ba;
}

.dashboard-card.bg-three {
    background-color: #333;
}

.dashboard-card i.material-icons,
.dashboard-card i {
    font-size: 40px;
    color: #fff;
}

.dashboard-card .first {
    flex: 0 0 auto;
    width: 30%;
}

.dashboard-card .second {
    flex: 0 0 auto;
    width: 70%;
}

.recruiters_img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

.recruiters_title {
    font-weight: 600;
    font-size: 18px;
    color: #007ba7;
    text-transform: uppercase;
}

.main-sidebar .nav .nav-item,
.main-sidebar .nav .nav-link,
table,
.btn-primary.btn_panel {
    font-size: 1.1rem;
}


/* new */

.navbar {
    /* height: 48px; */
    justify-content: flex-end;
    background-color: #ffffff;
    border-bottom: 1px solid #ebebeb;
}

.navbar.navbar-expand-lg {
    border-bottom: 0;
}

.main-content {
    margin-top: 99px;
    border-top: 1px solid #dee2e6;
    border-right: 1px solid #dee2e6;
}

.table-header-panel .d-flex .first {
    flex: 0 0 auto;
    width: 75%;
}

.table-header-panel .d-flex .second {
    flex: 0 0 auto;
    width: 25%;
    margin-top: 26px;
}

.dashboard-card .d-flex .first {
    flex: 0 0 auto;
    width: 30%;
}

.dashboard-card .d-flex .second {
    flex: 0 0 auto;
    width: 70%;
}

hr.style14 {
    border: 0;
    height: 5px;
    background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
    background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
    background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
    background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
}

.btn-primary.btn_panel {
    border-radius: 4px;
    background: #007ba7;
    color: #ffffff;
    padding: 10px 30px;
    border: 1px solid transparent;
    cursor: pointer;
}

.btn-primary.btn_panel:hover {
    background: var(--white-clr);
    color: var(--primary-color);
}

.dashboard-card .card-text {
    font-size: 16px;
    line-height: 1.4;
    margin-bottom: 0;
    color: #fff;
}

.main-sidebar {
    position: relative;
    height: auto;
    box-shadow: none;
    border: 1px solid #dee2e6;
    margin-top: 99px;
}

.main-sidebar .nav .nav-item .nav-link.active,
.main-sidebar .nav .nav-item .nav-link:hover,
.main-sidebar .nav .nav-item.active,
.main-sidebar .nav .nav-item:hover {
    box-shadow: inset 0.1875rem 0 0 #3c7ba7;
    background-color: #fbfbfb;
    color: #3c7ba7;
}

.admin-panel-round-img .avatar {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.main-sidebar .nav-wrapper {
    overflow: visible;
}

.main-sidebar .nav-wrapper .admin-panel-round-img.mt_minus {
    margin-top: -99px;
}

.navbar-nav .dropdown-menu {
    position: absolute;
    min-width: 100%;
    z-index: 9999;
}

.table>:not(caption)>*>* {
    padding: 1.5rem 0.5rem;
}

.candidate_panel_main {
    padding-top: 100px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 56px;
    height: 22px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 14px;
    width: 22px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #2196F3;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}


/* Rounded sliders */

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

@media (max-width: 991.98px) {
    .table-header-panel .first {
        flex: 0 0 auto;
        width: 100%;
    }
    .table-header-panel .second {
        flex: 0 0 auto;
        width: 100%;
        margin-top: 26px;
    }
}

@media (max-width: 767.98px) {
    .set-image-sm {
        width: 36px;
        height: 36px;
    }
    .main-content {
        margin-top: 7px;
    }
    .main-sidebar {
        position: fixed;
    }
    .main-sidebar .nav-wrapper .admin-panel-round-img {
        margin-top: 0;
    }
    .main-sidebar {
        margin-top: 56px;
    }
    .navbar .navbar-nav .nav-link,
    .navbar .navbar-nav .nav-link img {
        height: auto;
    }
    .set-image-sm {
        width: 36px;
        height: 36px;
    }
    .navbar {
        height: auto;
    }
    .main-sidebar .nav-wrapper {
        overflow: auto;
    }
    .navbar .navbar-nav .nav-link,
    .navbar .navbar-nav .nav-link img {
        height: auto;
    }
}

@media (max-width: 575.98px) {
    .table-header-panel .title-2 {
        font-size: 32px;
        color: #333;
    }
}